<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
      <%= form.label :first_name, { class: "form-label"} %>
      <%= form.text_field :first_name, { class: "form-control", placeholder: "First Name" } %>
    </div>

    <div class="mb-3">
      <%= form.label :last_name, { class: "form-label"} %>
      <%= form.text_field :last_name, { class: "form-control", placeholder: "Last Name" } %>
    </div>

    <div class="mb-3">
      <%= form.label :age, { class: "form-label"} %>
      <%= form.number_field :age, { class: "form-control", placeholder: "Age in number" } %>
    </div>

    <%= form.submit "Add", class: "btn btn-primary" %>

  </div>
</div>
<% end %>




